[flake8]
exclude = .git,.tox,__pycache__,swidget/tests/newfakes.py,swidget/tests/test_fixtures.py
max-line-length = 88
per-file-ignores =
  swidget/tests/*.py:D100,D101,D102,D103,D104,F401
  docs/source/conf.py:D100,D103
ignore = D105, D107, D401, E203, E231, E501, W503
max-complexity = 18
